@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100vh; }
body { margin: 0; }

.u-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.mat-expansion-panel, .mat-expansion-panel-header {
  border-radius: unset !important;
}

.mat-accordion .mat-expansion-panel:last-of-type,
.mat-accordion .mat-expansion-panel:first-of-type {
  border-radius: unset !important;
}